<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لقمة عيش</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body><br><br><br><br>
<header>
    <div id="menu-bar" class="fas fa-bars"></div>
    

    <a style="text-decoration: none;" href="/" class="logo"><span>لـ</span>قمة عيش</a>
        <nav class="navbar">
        <a style="text-decoration: none;" href="#services">العروضات</a>
        <a style="text-decoration: none;" href="#book">الحجوزات</a>
        <a style="text-decoration: none;" href="#contact">التواصل معنا</a>
        <a style="text-decoration: none;" href="/changePassword">تغيير كلمة المرور</a>
    </nav>
     <div class="dropdown">
     <div class="icons">
    <i class="fas fa-search" id="search-btn"></i>
    <a href = "/user" class="fas fa-user" id="login-btn"></a>
     </div> 
    </div>

</header>

<!-- services section starts  -->

<section class="services" id="services">

    <div class="box-container">

        <div class="box x 1">
            <form action="/meal/m1" method="POST">
            <i class="fas fa-utensils"></i>
            <h3>وجبات رئيسية</h3>
           <input name="discription1" type='text' placeholder=<%= res1 %>><br><br>
          <label> الكمية: </label>
            <input name="quantity1" type="number" placeholder=<%= res11 %>><br>
            <button href="#services" class="btn"> حفظ التعديلات </button>
            </form>
        </div>
        <div class="box x 2">
            <form action="/meal/m2" method="POST">
                <i class="fas fa-utensils"></i>
                <h3>ساندويشات</h3>
                <input name="discription2" type='text' placeholder=<%= res2 %>><br><br>
                <label> الكمية: </label>
                <input name="quantity2" type="number" placeholder=<%= res22 %>><br>
                <button href="#services" class="btn" type="submit"> حفظ التعديلات </button>
            </form>
        </div>

        <div class="box x 3">
            <form action="/meal/m3" method="POST"></form>
                <i class="fas fa-utensils"></i>
                <h3>عصائر</h3>
                <input name="discription3" type='text' placeholder=<%= res3 %>  >  <br><br>
                <label> الكمية: </label>
                <input name="quantity3" type="number" placeholder=<%= res33 %>><br>
                <button href="#services" class="btn" type="submit"> حفظ التعديلات </button>
            </form>
        </div>

        <div class="box x 4">
            <form action="/meal/m4" method="POST">
                <i class="fas fa-utensils"></i>
                <h3>حلويات</h3>
                <input name="discription4" type='text' placeholder=<%= res4 %>><br><br>
                <label> الكمية: </label>
                <input name="quantity4" type="number" placeholder=<%= res44 %>><br>
                <button href="#services" class="btn" type="submit"> حفظ التعديلات </button>
            </form>
        </div>
        <div class="box x 5">
            <form action="/meal/m5" method="POST">
                <i class="fas fa-utensils"></i>
                <h3>شوربات</h3>
                <input name="discription5" type='text' placeholder=<%= res5 %>><br><br>
                <label> الكمية: </label>
                <input name="quantity5" type="number" placeholder=<%= res55 %>><br>
                <button href="#services" class="btn" type="submit"> حفظ التعديلات </button>
            </form>
        </div>
        <div class="box x 6">
            <form action="/meal/m6" method="POST">
                <i class="fas fa-utensils"></i>
                <h3>وجبات سريعة</h3>
                <input name="discription6" type='text' placeholder=<%= res6 %>><br><br>
                <label> الكمية: </label>
                <input name="quantity6" type="number" placeholder=<%= res66 %>><br>
                <button href="#services" class="btn" type="submit"> حفظ التعديلات </button>
            </form>
        </div>
    </div>

</section>



<!-- book section starts  -->

<section class="book" id="book">

    <h1 class="heading">
        <span>حـ</span>
        <span>جـ</span>
        <span>و</span>
        <span>ز</span>
        <span>ا</span>
        <span>ت</span>
        <span class="space"></span>
        <span>ا</span>
        <span>لـ</span>
        <span>مـ</span>
        <span>طـ</span>
        <span>عـ</span>
        <span>م</span>


    </h1>



</section>

<!-- book section ends -->

<script type="module" src="/res.js"></script>
</body>
</html>