<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <%- include("./partials/head") %>
<body>
    <%- include("./partials/header3") %>

    <section class="services" id="services">

        <h1 class="heading"> <span id='resturant'>مطعم <%= resName %></span> </h1>

        <% if(failMessage){ %>
            <h4 style="text-align: center; font-size:medium;"class = 'alert alert-danger' > يرجى الحجز من احد الاصناف التالية </h4>
        <%}%> 

        <div class="box-container">

            <div class="box x 1">
                <i class="fas fa-utensils"></i>
                <h3 class="mainDishes">وجبات رئيسية</h3>
                <label type='text' > <%= resdata[0].discription %> </label>
                <p class="mainDishes"> الكمية : <%= resdata[0].quantity %></p>
                <% if(resdata[0].quantity == 0){ %>
                    <button class="btn" disabled> حجز </button>
                <%}else{%> 
                    <button class="btn mainDishes" > حجز </button>
                    <input style = "display: none;" id= "mainDishes" value = "<%= resdata[0].id %>" class = "resturantId">
                <%}%>  
            </div>
            <div class="box x 2"> 
                <i class="fas fa-utensils"></i>
                <h3 class="sandwich">ساندويشات</h3>
                <label type='text' > <%= resdata[1].discription %> </label>
                <p class="sandwich"> الكمية : <%= resdata[1].quantity %>  </p> 
                <% if(resdata[1].quantity == 0){ %>
                    <button class="btn" disabled> حجز </button>
                <%}else{%> 
                    <button class="btn sandwich"> حجز </button>
                    <input style = "display: none;" value = "<%= resdata[1].id %>" class = "resturantId" id="sandwich">
                <%}%>  
            </div>
            <div class="box x 3">
                <i class="fas fa-utensils"></i>
                <h3 class = 'juice'>عصائر</h3>
                <label type='text' > <%= resdata[2].discription %> </label>
                <p class = 'juice'> الكمية : <%= resdata[2].quantity %></p>  
                <% if(resdata[2].quantity == 0){ %>
                    <button class="btn" disabled> حجز </button>
                <%}else{%> 
                    <button class='btn juice'> حجز </button>
                    <input style = "display: none;" value = "<%= resdata[2].id %>" class = "resturantId" id ="juice">
                <%}%>  
            </div>
            <div class="box x 4"> 
                <i class="fas fa-utensils"></i>
                <h3 class="sweets">حلويات</h3>
                <label type='text' > <%= resdata[3].discription %> </label>
                <p class="sweets"> الكمية : <%= resdata[3].quantity %></p> 
                <% if(resdata[3].quantity == 0){ %>
                    <button class="btn" disabled> حجز </button>
                <%}else{%> 
                    <button class="btn sweets"> حجز </button>
                    <input style = "display: none;" value = "<%= resdata[3].id %>" class = "resturantId" id="sweets">
                <%}%>  
            </div>
            <div class="box x 5">
                <i class="fas fa-utensils"></i>
                <h3 class="soup">شوربات</h3>
                <label type='text' > <%= resdata[4].discription %> </label>
                <p class="soup"> الكمية : <%= resdata[4].quantity %></p> 
                <% if(resdata[4].quantity == 0){ %>
                    <button class="btn" disabled> حجز </button>
                <%}else{%> 
                    <button class="btn soup"> حجز </button>
                    <input style = "display: none;" value = "<%= resdata[4].id %>" class = "resturantId" id = "soup">

                <%}%>  
            </div>
            <div class="box x 6">
                <i class="fas fa-utensils"></i>
                <h3 class = 'fastFood'>وجبات سريعة</h3>
                <label type='text' > <%= resdata[5].discription %> </label>
                <p class = 'fastFood'> الكمية : <%= resdata[5].quantity %></p> 
                <% if(resdata[5].quantity == 0){ %>
                    <button  class="btn" disabled> حجز </button>
                <%}else{%> 
                    <button class="btn fastFood" onclick="M.toast({html: 'I am a toast'})"> حجز </button>
                    <input style = "display: none;" value = "<%= resdata[5].id %>" class = "resturantId" id="fastFood">
                <%}%>  
            </div>
    </div>
    </section>
    <section class="book" id="book">

        <h1 class="heading">
            <span>حـ</span>
            <span>جـ</span>
            <span>ز</span>
            <span class="space"></span>
            <span>ا</span>
            <span>لـ</span>
            <span>آ</span>
            <span>ن</span>
        </h1>

    <div class="row">
        <form action="/submitOrders" method="POST" style="margin-top: -105px;">       
            <input style = "display: none;" value = "<%= resturantId %>" name = "resturantId">
            <div class="inputBox">
                <h3>اسم الجمعية</h3>
                <input type="text" placeholder="ادخل هنا" value = "<%=charityInfo.name%>" readonly>
            </div>
            <div class="inputBox">
                <h3>البريد الالكتروني</h3>
                <input type="text" placeholder="بريد الجمعية الالكتروني" value = "<%=charityInfo.email%>" readonly>
            </div>
            <div class="inputBox">
                <h3>رقم الهاتف</h3>
                <input type="text" placeholder="رقم الهاتف او الجوال" value = "<%=charityInfo.phone%>" readonly>
                <h3>الحجوزات</h3>
                <textarea id='text' type="text" name = 'orders' readonly required></textarea>
                <textarea style = "display: none;"id='ids' type="text" name = 'menuId'></textarea>
            </div>
            <div class="inputBox">
            </div>
            <input type="submit" class="btn" value="احجز الان">
        </form>

    </div>

</section>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src = "/menu.js"></script>
</body>
